{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">MNIST Classification Demo</h1>
      <p class="lead"> 
        하이 지현, 심심해서 한 번 만들어봄😝 <br> 아무 숫자사진을 넣어보면 얘가 판별해볼거야 <br> P.S Pin protein 이란? <a
          href="https://github.com/seobeomjin/flask-mnist-8> View on GitHub</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb-2 col-md-6 offset-md-3">
    <form action="/infer" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="file" accept=".jpg, .jpeg, .png" class="custom-file-input" id="inputGroupFile"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile">Choose</label>
        </div>
        <div class="input-group-append">
          <input type="submit" value="Upload"  class="btn btn-outline-secondary" type="button"
            id="inputGroupFileAddon04" /> 
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <center>
        <p class="text-muted">
          어, 근데 그거 알지. 이거 내가 맞추면 우리 주인님께 아이스크림 한 턱 쏘는겨~!😎😎<br> 아싸바리~! 주인님 기대혀~!😋😋
        </p>
      </center>
    </div>
  </div>
</div>
{% endblock %}